.statsBox{
    border: 1px solid black;
    height: 200px;
    width: 90%;
    margin: 5%;
    padding: 5%;
    background-image: url('https://img.freepik.com/free-photo/palm-leaves-shadow-beige_53876-95504.jpg?size=626&ext=jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.innerStatsBox {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ee7512; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    margin-left: 3%;
    margin-top: -40px;
  }
.statsBox h5{
    margin-top: 36px;
}
  