<div class="container">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.britannica.com/72/223172-131-C3F72804/astrology-horoscope-circle.jpg" class="d-block w-100 " alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.ctfassets.net/cnu0m8re1exe/2pyz13PBaroSVfk8RZS0OD/2ca09e9463f96c3c17367256c3846c0a/shutterstock_1506783812.jpg?fm=jpg&fl=progressive&w=660&h=433&fit=fill" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <!-- <div class="carousel-item">
        <img src="..." class="d-block w-100 h-25" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
<br><br>
  <div class="mt-2 services">
    <h3 class="d-flex justify-content-center">Our Services</h3>
    <br><br>
    <div class="row">
    <div class="col-lg-6" *ngFor="let card of cardArray">
    <div class="card" style="width: 65%;
    margin-left: 36px;
    margin-bottom: 43px;">
      <img src="" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{card.tittle}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div></div>
  </div>
<br>
<br>
<div class="container mt-4">
  <div class="row">
    <!-- Video Column -->
    <div class="col-md-6">
      <iframe width="100%" height="315" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
    </div>

    <!-- Text Column -->
    <div class="col-md-6">
      <h2>Journey</h2>
      <p class="video-text">
        For over 35 years, we've guided individuals like you towards a more fulfilling life.We translate ancient astrological practices like birth charts (kundali) into practical guidance for modern life.  Our goal is to empower you to navigate challenges, make informed choices, and live a more fulfilling life.  Join our supportive community and embark on a journey of self-discovery – from daily insights to in-depth consultations.  </p>
    </div>
  </div>
</div>



</div>
<div class="statsBox">
  <div class="row" style="width: 350%;">
<div class="innerStatsBox col-lg-3" *ngFor="let stats of statsArr">
<h5 class="circle-head">{{stats.head}}</h5>
<p class="circle-body">{{stats.body}}</p>
</div></div>
</div>
<br>
<br>
<div class="container">
  <h3 class="d-flex justify-content-center">Free Calculator</h3>
  <div class="row">
    <div class="col-lg-6 ">
      <h5>Know your Rashi</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat necessitatibus iusto facere sequi eos minima cum provident laboriosam? Esse eaque quaerat eveniet neque placeat iusto obcaecati minus consequatur, recusandae labore quibusdam quo repudiandae molestias, sed, reiciendis ratione facilis nemo iste commodi numquam aliquam autem! Natus numquam ipsum corporis explicabo reprehenderit?</p>
    </div>
    <div class="col-lg-6">
      <h5>Know your Rashi</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat necessitatibus iusto facere sequi eos minima cum provident laboriosam? Esse eaque quaerat eveniet neque placeat iusto obcaecati minus consequatur, recusandae labore quibusdam quo repudiandae molestias, sed, reiciendis ratione facilis nemo iste commodi numquam aliquam autem! Natus numquam ipsum corporis explicabo reprehenderit?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h5>Know your Rashi</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat necessitatibus iusto facere sequi eos minima cum provident laboriosam? Esse eaque quaerat eveniet neque placeat iusto obcaecati minus consequatur, recusandae labore quibusdam quo repudiandae molestias, sed, reiciendis ratione facilis nemo iste commodi numquam aliquam autem! Natus numquam ipsum corporis explicabo reprehenderit?</p>
    </div>
    <div class="col-lg-6">
      <h5>Know your Rashi</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat necessitatibus iusto facere sequi eos minima cum provident laboriosam? Esse eaque quaerat eveniet neque placeat iusto obcaecati minus consequatur, recusandae labore quibusdam quo repudiandae molestias, sed, reiciendis ratione facilis nemo iste commodi numquam aliquam autem! Natus numquam ipsum corporis explicabo reprehenderit?</p>
    </div>
  </div>
</div>


<div class="container  consultation-box">
  <div class="row">
    
      <div class="col-lg-7">
        <h3>Book Consultation Call From The Best Astrologer In India!</h3>
        <p>For over 35 years, we've guided individuals like you towards a more fulfilling life.We translate ancient astrological practices like birth charts (kundali) into practical guidance for modern life.  Our goal is to empower you to navigate challenges, make informed choices, and live a more fulfilling life.  Join our supportive community and embark on a journey of self-discovery – from daily insights to in-depth consultations.</p>
      <button class="btn btn-primary" routerLink="/consultation">Book a Call</button>
      </div>
      <div class="col-lg-5">
        <img style="height: 200px; width: 400px;     margin-left: 97px;
        margin-top: 9px;
    " src="assets\Astrologer Adarsh Vashisht.png">
      </div>
    
  </div>

</div>
<!-- <hr>
<div class="mt-2 container">
  <h3 class="d-flex justify-content-center">Explore Our Courses</h3>
  <div class="row">
  <div class="col-lg-3" *ngFor="let card of courseArray">
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div></div>
</div> -->
<br>
<br>
<div class="container">
  <h3 class="d-flex justify-content-center">Client testimony</h3>
  <div class="row">
    <div class="col-lg-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ipsa repellat unde. Quos excepturi iure doloribus reiciendis expedita accusamus dolorum, laboriosam provident facere labore quas in sint culpa, tempora accusantium architecto sequi molestiae ut. Aliquid natus voluptatum distinctio earum cupiditate quis sunt architecto dicta! Fugiat asperiores aperiam, commodi sunt cum, a reprehenderit, ad possimus rerum eius odio doloribus nisi dicta.
      </p>
    </div>
    <div class="col-lg-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ipsa repellat unde. Quos excepturi iure doloribus reiciendis expedita accusamus dolorum, laboriosam provident facere labore quas in sint culpa, tempora accusantium architecto sequi molestiae ut. Aliquid natus voluptatum distinctio earum cupiditate quis sunt architecto dicta! Fugiat asperiores aperiam, commodi sunt cum, a reprehenderit, ad possimus rerum eius odio doloribus nisi dicta.
      </p>
    </div>
    <div class="col-lg-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ipsa repellat unde. Quos excepturi iure doloribus reiciendis expedita accusamus dolorum, laboriosam provident facere labore quas in sint culpa, tempora accusantium architecto sequi molestiae ut. Aliquid natus voluptatum distinctio earum cupiditate quis sunt architecto dicta! Fugiat asperiores aperiam, commodi sunt cum, a reprehenderit, ad possimus rerum eius odio doloribus nisi dicta.
      </p>
    </div>
    <div class="col-lg-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ipsa repellat unde. Quos excepturi iure doloribus reiciendis expedita accusamus dolorum, laboriosam provident facere labore quas in sint culpa, tempora accusantium architecto sequi molestiae ut. Aliquid natus voluptatum distinctio earum cupiditate quis sunt architecto dicta! Fugiat asperiores aperiam, commodi sunt cum, a reprehenderit, ad possimus rerum eius odio doloribus nisi dicta.
      </p>
    </div>
  </div>
</div>